
.list-controls {
  clear: both;
  // margin-top: 16px;
  // margin-bottom: 5px;
  .combo-box .combo-box-header {
    background: var(--secondary);
    color: var(--primary);
    border: 1px solid var(--primary-medium);
    font-size: $font-0;
    transition: none;
    &.category-drop-header{
      border-color:transparent;
    }
  }
  .select-kit {
    align-self: center;
    .select-kit-collection {
      font-size: $font-down-1;
      max-height: 40vh;
      .texts,
      .icons {
        font-size: $font-up-1;
      }
    }
    &.categories-admin-dropdown,
    &.tags-admin-dropdown,
    &.category-notifications-button,
    &.tag-notifications-button {

      button {
        display: inline-block;
      }
    }
  }
  .category-heading {
    max-width: 100%;
  }
}
.topic-list .main-link{
  font-size: 1em;
}
.topic-list-item{
  

  a, span, .topic-statuses{
    &, &.title{
        color: var(--primary) ;   
        font-weight: bold;
     
    }
  }
  &.visited{
    
    a, span, .topic-statuses{
      &, &.title{
          color: var(--primary);   
          font-weight: normal;
      }
    }
   
  }
}
.heatmap-high  {
  &, a, span {
    color: $R900 !important;
  }
}
.heatmap-med {
  &, a, span {
    color: $Y900!important;
  }
}
.heatmap-low {
  &, a, span {
    color: $Y700 !important;
  }
}

.topic-list-item.visited,
.latest-topic-list-item.visited,
.category-topic-link.visited {
  a.title:not(.badge-notification) {
    // color: var(--primary-medium);
  }
  span.badge-category {
    // color: var(--primary-medium);
  }
  a.discourse-tag {
    // color: var(--primary-medium);
  }
}

.topic-list-item {
  .post-excerpt {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: $font-down-2;
  }
}

.topic-list-main-link {
  // font-size: $font-up-1;
  a.title {
    padding: 15px 0;
    word-break: break-word;
    color: var(--primary);
  }

  .anon & {
    a.title:visited:not(.badge-notification) {
      // color: var(--primary-medium);
    }
  }

  a.title.visited:not(.badge-notification) {
    // color: var(--primary-medium);
  }
}

.topic-list {
  width: 100%;
  border-collapse: collapse;
  th{
    color: var(--primary)
    // font-weight: bold;
  }
  > tbody > tr {
    &.has-excerpt .star {
      vertical-align: top;
      margin-top: 2px;
    }

    &.last-visit {
      border-bottom: none;
    }

    .topic-list-separator {
      text-align: center;
    }
  }

  .topic-list-item-separator {
    border: none;

    td {
      border-bottom: 1px solid var(--danger-medium);
      line-height: 0.1em;
      padding: 0;
      text-align: center;
    }

    td span {
      background-color: var(--secondary);
      color: var(--danger-medium);
      padding: 0 8px;
      font-size: $font-down-1;
    }
  }

  th,
  td {
    line-height: $line-height-large;
    text-align: left;
    vertical-align: middle;
  }
  th {
    button .d-icon {
      // color: var(--primary-medium);
    }
  }
  td {
    color: var(--primary-medium);
    font-size: $font-0;
  }

  .main-link {
    @extend .topic-list-main-link;

    .raw-topic-link > * {
      pointer-events: none;
    }
  }

  .unread-indicator {
    &.read {
      display: none;
    }
    .d-icon {
      vertical-align: middle;
      font-size: $font-down-5;
    }
  }

  .link-bottom-line {
    font-size: $font-down-1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .discourse-tags {
      flex-wrap: wrap;
    }
    a.badge-wrapper.box,
    a.discourse-tag.box {
      padding-top: 0;
      padding-bottom: 0;
    }
    .discourse-tag.simple:after,
    .discourse-tag.box {
      margin-right: 0.25em;
    }
  }

  .topic-featured-link {
    padding-left: 5px;
  }

  .topic-excerpt {
    font-size: $font-down-1;
    margin-top: 5px;
    color: var(--primary-high);
    word-wrap: break-word;
    line-height: $line-height-large;
    padding-right: 20px;
  }
  .topic-statuses:empty {
    display: none;
  }

  .num {
    text-align: center;
    a:not(.badge-posts) {
      color: inherit;
    }
    a.badge-posts {
      font-weight: bold;
    }
  }

  .num.posts {
    a {
      padding: 15px 5px;
      // cursor: default;
    }
  }

  .num.activity {
    a {
      padding: 15px 5px;
    }
  }
}

.topic-list .heatmap-high {
  font-weight: bold;
}

.loading .topic-list {
  border: 0;
  box-shadow: none;
  tr {
    background-color: transparent;
  }
}

#list-area {
  margin-bottom: 100px;
  .empty-topic-list {
    padding: 10px;
  }
  .unseen {
    background-color: transparent;
    padding: 0;
    border: 0;
    color: var(--danger-medium);
    font-size: $font-0;
    cursor: default;
  }
}

.topic-list {
  .alert {
    margin-bottom: 0;
    font-size: $font-0;
  }
  .spinner {
    margin-top: 40px;
  }
}

ol.category-breadcrumb.hidden {
  display: none;
}

ol.category-breadcrumb {
  display: block;
  float: left;
  list-style: none;
  margin: 0 10px 10px 0;
  padding: 0;

  li {
    float: left;
    margin-right: 5px;
  }

  .bread-crumbs-right-outlet {
    float: left;
  }
}

.d-icon-thumbtack.unpinned {
  @include fa-rotate(180deg, 1);
}

.top-title-buttons {
  display: inline-flex;
  margin: 0.25em 0;
  flex-wrap: wrap;

  button {
    margin-right: 0.5em;
  }
}

div.education {
  color: var(--primary);
  padding: 1em 2.5em 1em 1em;
  margin-bottom: 2em;
  border-top: 3px solid var(--primary-low);
  border-bottom: 1px solid var(--primary-low);

  .badge-notification.new-posts {
    vertical-align: text-bottom;
  }
}

.list-cell {
  padding: 12px 5px;
  color: var(--primary-med-or-secondary-high);
}

.table-heading {
  @extend .list-cell;
  border-bottom: 3px solid var(--primary-low);
}

// This is not what we want:
//
//     This is an overly-long topic title that would break just right
//     *
//
// Instead, we want the line to break like this:
//
//     This is an overly-long topic title that would break just
//     right *

.topic-post-badges {
  white-space: nowrap;
  align-self: center;
  line-height: $line-height-medium;
}

tbody{
  border-top: 1px solid var(--primary-low) !important;
}