.card{
    border: solid 1px $N200;
    border-radius: 4px;
    .card-header{
        background: $N200;
        // height: 32px;
        padding:7px 8px;
        .header{
            margin-bottom: 0;
        }
    }
    .card-body{
        // display: flex;
    }
}