.d-icon.d-icon-d-regular,
.d-icon.d-icon-d-muted,
.d-icon.d-icon-d-watching-first,
.d-icon.d-icon-d-watching-first-post {
  color: $N800;
}

.d-icon.d-icon-d-tracking,
.d-icon.d-icon-d-watching {
  color: $N800;
}

// .d-icon-caret-down{
//   display: none;
// }
// .d-icon-caret-up{
//   display: none;
// }