.menu-panel.slide-in {
  position: fixed;
  right: 0;
  box-shadow: shadow("header");
  &.animate {
    transition: right 0.2s ease-out, left 0.2s ease-out;
  }

  .panel-body {
    width: 100%;
  }
}
.header-cloak {
  display: none;
}

.menu-panel.drop-down {
  position: absolute;
  // positions are relative to the .d-header .panel div
  top: 100% !important; // directly underneath .panel
  right: -10px; // 10px to the right of .panel - adjust as needed
  max-height: 80vh;
}

.menu-panel {
  border: 1px solid var(--primary-low);
  box-shadow: shadow("menu-panel");
  background-color: var(--secondary);
  z-index: z("header");
  padding: 0.5em;
  width: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  hr {
    margin: 3px 0;
  }

  .panel-header {
    position: absolute;
    right: 20px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .panel-body {
    display: flex;
    touch-action: pan-y pinch-zoom;
    overflow: hidden;
    height: 100%;
  }

  .panel-body-contents {
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .panel-body-bottom {
    display: flex;
    flex: 1 0 0%; // safari height fix
    margin-top: 0.5em;
    .show-all {
      flex: 1 1 auto;
      button {
        width: 100%;
      }
    }
    .notifications-dismiss {
      margin-left: 0.5em;
    }

    .btn {
      background-color: var(--primary-very-low);
      color: var(--primary-high);
      &:hover {
        background: var(--primary-low);
        color: var(--primary);
      }
    }
  }

  .badge-notification {
    vertical-align: text-bottom;
  }
}

.hamburger-panel {
  .panel-body {
    overflow-y: auto;
  }

  span.badge-category {
    max-width: 300px;
  }
}

.menu-links.columned {
  li {
    width: 50%;
    float: left;
  }
}

.menu-panel {
  li:not(.nav-item),
  li.heading {
    a.widget-link,
    a.categories-link {
      padding: 0.25em 0.5em;
      display: block;
      color: var(--primary);
      &:hover,
      &:focus {
        background-color: var(--primary-low);
        outline: none;
      }

      .d-icon {
        color: var(--primary-medium);
      }
    }

    .new {
      font-size: $font-down-1;
      margin-left: 0.5em;
      color: var(--primary-med-or-secondary-med);
    }
  }

  li.category-link {
    float: left;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    padding: 0.25em 0.5em;
    height: 36px;
    width: 100%;
    box-sizing: border-box;
    &:hover{
      background-color: var(--highlight-medium);
    }
    a {
      display: inline-flex;
      &:hover,
      &:focus {
        background: transparent;

        .category-name {
          color: var(--primary);
          
        }
      }
    }
    .badge-notification {
      color: var(--primary-med-or-secondary-med);
      background-color: transparent;
      display: inline;
      padding: 0;
      font-size: $font-down-1;
      line-height: $line-height-large;
    }
    .badge-wrapper {
      &.bar,
      &.bullet {
        color: var(--primary);
        
        width: 100%;
        height: 100%;
        padding: 0 0.15em 0 0.15em;
      }
      &.box {
        color: var(--secondary);
        + a.badge.badge-notification {
          padding-top: 2px;
        }
        span {
          z-index: z("base") * -1;
        }
      }
    }
  }

  // note these topic counts only appear for anons in the category hamburger drop down
  b.topics-count {
    color: var(--primary-med-or-secondary-med);
    font-weight: normal;
    font-size: $font-down-1;
  }

  div.discourse-tags {
    font-size: $font-down-1;
  }
}

.user-menu {
  .quick-access-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 0;
    max-height: 100%;
    // border-top: 1px solid var(--primary-low);
    padding-top: 0.75em;
    margin-top: -1px;
    h3 {
      padding: 0 0.4em;
      font-weight: bold;
      margin: 0.5em 0;
    }

    .d-icon,
    &:hover .d-icon {
      // color: var(--primary-medium);
    }
    .icon {
      // color: var(--primary-high);
    }

    ul {
      display: flex;
      flex-flow: column wrap;
      overflow: hidden;
      max-height: 100%;
    }

    li {
      background-color: var(--tertiary-low);
      box-sizing: border-box;
      list-style-type: none;

      // This is until other languages remove the HTML from within
      // notifications. It can then be removed
      div .fa {
        display: none;
      }

      span:first-child {
        color: var(--primary);
      }

      &:hover,
      &:focus {
        background-color: var(--highlight-medium);
        outline: none;
      }

      a {
        display: flex;
        padding: 0.25em 0.5em;
        svg{
          color: $N800 !important; 
        }
        > div {
          span:first-child {
            font-weight: 900;
          }
          overflow: hidden; // clears the text from wrapping below icons
          overflow-wrap: anywhere;
          @supports not (overflow-wrap: anywhere) {
            word-break: break-word;
          }

          // Truncate items with more than 2 lines.
          @include line-clamp(2);
        }
      }

      p {
        margin: 0;
        overflow: hidden;
      }
    }
    li:not(.show-all) {
      padding: 0;
      display: flex;
      min-height: 36px;
      width: 100%;
      align-items: center;

      .d-icon {
        padding-top: 0.2em;
        margin-right: 0.5em;
      }
    }
    .is-warning {
      .d-icon-far-envelope {
        color: var(--danger);
      }
    }
    .read {
      background-color: var(--secondary);
    }
    .none {
      padding-top: 5px;
    }
    .spinner-container {
      min-height: 2em;
    }
    .spinner {
      width: 20px;
      height: 20px;
      border-width: 2px;
      margin: 0 auto;
    }
    .show-all a {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 30px;
      color: var(--primary-med-or-secondary-high);
      background: var(--blend-primary-secondary-5);
      &:hover {
        color: var(--primary);
        background: var(--primary-low);
      }
    }
    /* as a big ol' click target, don't let text inside be selected */
    @include unselectable;

    &.quick-access-profile, &.quick-access-public{
      svg{
        width: 18px;
      }
      li:not(.show-all) a {
        color: var(--primary);
        height: 100%;
        width: 100%;

        .d-icon{
          color: $N800;         
        }
        display: flex;
        svg{
          margin: auto 0;
          padding-top: 0;
          margin-right: 0.5em;
        }
        div{
          margin: auto 0;
        }
      }
    }
  }
}

.user-notifications-link {
  // keep this in leftmost position consistently
  order: -1;
}

div.menu-links-header {
  width: 100%;
  .menu-links-row {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    z-index: 2;

    li {
      display: inline-flex;
      align-items: center;
      flex-wrap: wrap;

      &.glyphs {
        flex-wrap: nowrap;
        width: 100%;
        justify-content: space-between;
        padding: 0;

        a {
          display: flex;
          flex: 1 1 auto;
          padding: 0.65em 0.25em 0.75em;
          justify-content: center;
        }
      }

      a {
        // This is to make sure active and inactive tab icons have the same
        // size. `box-sizing` does not work and I have no idea why.
        border: 1px solid transparent;
        &:not(.active):hover {
          border-bottom: 0;
          margin-top: -1px;
        }
      }

      a.active {
        border: 1px solid var(--primary-low);
        border-bottom: 1px solid var(--secondary);
        position: relative;

        .d-icon {
          color: var(--primary-high);
        }

        &:focus,
        &:hover {
          background-color: inherit;
        }
      }
    }
  }
  a:hover,
  a:focus {
    background-color: var(--highlight-medium);
    outline: none;
  }
  a {
    padding: 0.3em 0.5em;
  }

  li {
    display: table-cell;
    width: auto;
    text-align: center;
  }
  li:first-child {
    text-align: left;
  }

  li:last-child {
    text-align: right;
  }
  .fa,
  a {
    color: var(--primary-med-or-secondary-med);
  }
}
