// --------------------------------------------------
// Buttons
// --------------------------------------------------

// Base
// --------------------------------------------------

@mixin btn(
  $text-color: var(--primary),
  $bg-color: var(--primary-low),
  $icon-color: $N800,
  $hover-text-color:$N800,
  $hover-bg-color: var(--primary-low-mid),
  $hover-icon-color: $N800,
  $active-bg-color: var(--primary-medium),
  $active-text-color: var(--secondary),
  $active-icon-color: var(--secondary),
  $hasshadow: true
) {
  border-radius:4px;
  display: inline-block;
  margin: 0;
  padding: 6px 12px;
  min-height: 30px;
  border: none;
  box-sizing: border-box;
  font-weight: normal;
  color: $text-color;

  background: $bg-color;
  font-size: $font-0;
  line-height: $line-height-small;
  text-align: center;
  cursor: pointer;
  transition: all 0.25s;
  .d-icon {
    color: $icon-color;

    margin-right: 0.45em;
    transition: color 0.25s;
    line-height: $line-height-medium; // Match button text line-height
  }
  &.no-text {
    .d-icon {
      margin-right: 0;
    }
  }
  @include hover {
      background: $hover-bg-color;
      color: $hover-text-color;
      @if $hasshadow{
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
      } @else {
        box-shadow: none;
      }
      .d-icon {
        color: $hover-icon-color;
     
      }
  
  }
  &[href] {
    color: $text-color;

  }
  &:active,
  &.btn-active {
    cursor: default;
    background-color: $active-bg-color !important;
    color: $active-text-color !important;
    .d-icon {
      color: $active-icon-color !important;

    }
  }
  &[disabled],
  &.disabled {
    opacity: 0.4;
    &:hover {
      color: $text-color;
      fill: $text-color;
      background: $bg-color;
      .d-icon {
        color: $icon-color;
      }
    }
    cursor: not-allowed;
  }

  .loading-container {
    display: none;
    margin: 0 6.75px 0 0;
  }

  &.is-loading {
    &.btn-text {
      .d-button-label {
        font-size: $font-down-2;
      }

      &.btn-small {
        .loading-icon {
          font-size: $font-down-1;
          margin-right: 0.2em;
        }
      }
    }

    .loading-icon {
      -webkit-animation: rotate-forever 1s infinite linear, fadein 1s;
      animation: rotate-forever 1s infinite linear, fadein 1s;
    }
  }
}

.btn.hidden {
  display: none;
}

// Default button
// --------------------------------------------------

.btn {
  @include btn(
    $active-text-color: $N800,
    $active-icon-color: $N800,
  );
}




// Primary button
// --------------------------------------------------

.btn-primary {
  @include btn(
    $text-color: var(--secondary),
    $bg-color: var(--tertiary),
    $icon-color: var(--secondary),
    $hover-bg-color: var(--tertiary-hover),
    $hover-text-color: var(--secondary),
    $hover-icon-color: var(--secondary),
    $active-bg-color: $tertiary-active,

    
  );
}

// Danger button
// --------------------------------------------------

.btn-danger {
  @include btn(
    $bg-color: var(--danger),
    $icon-color: $NO,
    $text-color: $NO,
    $hover-text-color: var(--secondary),
    $hover-icon-color: var(--secondary),
    $hover-bg-color: var(--danger-hover),
    $active-bg-color: $danger-active,
    
  );
}

// ✘ and ✔ buttons
// --------------------------------------------------

.btn.cancel {
  @include btn(
    $text-color: var(--secondary),
    $bg-color: var(--danger),
    $icon-color: var(--secondary),
    $hover-bg-color: var(--danger-hover),
    $hover-icon-color: var(--secondary)
  );
}

.btn.ok {
  @include btn(
    $text-color: var(--secondary),
    $bg-color: var(--success),
    $icon-color: var(--secondary),
    $hover-bg-color: var(--success-hover),
    $hover-icon-color: var(--secondary)
  );
}

// Social buttons
// --------------------------------------------------

.btn-social {
  .d-icon {
    color: #fff;
  }
  color: #fff;
  background: #666;
  &:hover {
    color: #fff;
  }
  &[href] {
    color: var(--secondary);
  }
  &:before {
    margin-right: 9px;
    font-size: $font-0;
  }
  &.google_oauth2 {
    background: var(--google);
    color: #333;
    border: 1px solid var(--primary-low);
    // non-FA SVG icon for Google in login-buttons.hbs
    .d-icon {
      opacity: 0.9;
    }
    &:hover {
      color: currentColor;
      background: var(--google-hover);
    }
  }
  &.instagram {
    background: var(--instagram);
    &:hover {
      background: var(--instagram-hover);
    }
  }
  &.facebook {
    background: $facebook;
    &:hover {
      background: var(--facebook-hover);
    }
  }
  &.cas {
    background: var(--cas);
  }
  &.twitter {
    background: var(--twitter);
    &:hover {
      background: var(--twitter-hover);
    }
  }
  &.github {
    background: var(--github);
    &:hover {
      background: var(--github-hover);
    }
  }
  &.discord {
    background: var(--discord);
    &:hover {
      background: var(--discord-hover);
    }
  }
}

// Button Sizes
// --------------------------------------------------

// Small

.btn-small {
  padding: 6px;
  font-size: $font-down-1;
  min-height: 20px;
  .d-icon {
    max-height: 0.87em;
  }
}

// Large

.btn-large {
  padding: 9px 18px;
  font-size: $font-up-1;
  line-height: $line-height-small;
}

// .btn-flat {
//   background: transparent;
//   border: 0;
//   outline: 0;
//   line-height: $line-height-small;
//   transition: color 0.25s, background 0.25s;
//   .d-icon {
//     color: var(--primary-low-mid);
//   }
//   @include hover {
//     .d-icon {
//       color: var(--primary);
//     }
//   }
//   &.close {
//     padding: 0;
//     min-height: unset;
//     background: transparent;
//     font-size: $font-up-3;
//     .d-icon {
//       color: var(--primary-high);
//     }
//     @include hover {
//       background: transparent;
//       .d-icon {
//         color: var(--primary);
//       }
//     }
//   }
// }

.btn-link {
  background: transparent;
  border: 0;
  outline: 0;
  padding: 0;
  color: var(--tertiary);
  &:focus {
    outline: 1px currentColor dotted;
  }
}
// icon button
// --------------------------------------------------
.btn-flat {
  
  @include btn(
    $bg-color: transparent,
    $icon-color: $N800,
    $hover-bg-color: $N200,
    $hover-icon-color: $N800,
    $active-bg-color: $N600,
    $active-icon-color: $NO,
    $hasshadow: false
  );

  .d-icon {
    margin-right: 0; 

    
  }
  .d-icon + .d-button-label{
    margin-left: 8px;
  }

}

button.btn-flat.delete{
  @include btn(
    $bg-color: transparent,
    $icon-color: $R500,
    $hover-bg-color: $R800,
    $hover-icon-color: $NO,
    $active-bg-color: $R900,
    $active-icon-color: $NO,
    $hasshadow: false
  );
  .d-icon {
    margin-right: 0; 
    
  }
  .d-icon + .d-button-label{
    margin-left: 8px;
  }
}

button.btn-flat.btn-primary{
  @include btn(
    $bg-color: transparent,
    $text-color: $B500,
    $icon-color: $B500,
    $hover-bg-color: $B200,
    $hover-text-color: $B500,
    $hover-icon-color: $B500,
    $active-bg-color: $tertiary-active,
    $hasshadow: false
  );
  .d-icon {
    margin-right: 0; 
    
  }
  .d-icon + .d-button-label{
    margin-left: 8px;
  }
}

.double-button {
  display: inline-flex;
  margin-right: 0.15em;

  button{
    border-radius: 0 !important;
    margin: 0 !important;

  }

  button{
        &:first-child{
          border-bottom-left-radius: 4px !important;
          border-top-left-radius: 4px !important;
          padding-right: 4px !important ;
          padding-left:10px !important;
        }
        &:last-child{
          border-bottom-right-radius: 4px !important;
          border-top-right-radius: 4px !important;
          padding-left: 0 !important;
          padding-right:10px !important;
        }
  }


  &:hover {
    button {
      &.btn-flat{
        background-color: $N200;
        color: $N800;
        // box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
        .d-icon{
          color:$N800;
        }
      }
      &.btn-primary{
        background-color: var(--tertiary-hover);
        color: var(--secondary);
        .d-icon{
          color:var(--secondary);
        }
      }   
    }
  }
}

.topic-admin-menu-button-container, .topic-notifications-button{
  float: right;
}
.category-notifications-button, .categories-admin-dropdown,.topic-notifications-options{
    button{
      @extend .btn-flat;
    }
    .d-icon-caret-down, .d-icon-caret-up{
      display: none;
    }
}