.d-date-input {
  display: inline-flex;
  border-radius: 4px;
  cursor: pointer;
  flex-direction: column;
  min-width: 140px;

  .date-picker {
    cursor: pointer;
    margin: 0;
    text-align: left;
    width: 100%;

    &::-webkit-input-placeholder {
      font-size: $font-0;
      color: var(--primary-medium);
    }

    &::-ms-input-placeholder {
      font-size: $font-0;
      color: var(--primary-medium);
    }

    &::placeholder {
      font-size: $font-0;
      color: var(--primary-medium);
    }

    &:focus {
      box-shadow: 0 0 6px 0 var(--tertiary);
    }
  }

  .pika-single {
    margin-left: -1px;
    margin-top: 1px;
    border-radius: 4px;
    .pika-row td {
      .pika-button.pika-day {
        box-shadow: none;
      }
    }
  }
}

.d-date-input + .d-time-input {
  margin-left: 1px;
}

.d-time-input + .d-date-input {
  margin-left: 1px;
}

.d-date-input + .clear-date-time {
  margin-left: 1px;
}
