.d-date-time-input {
  display: flex;
  border: 1px solid var(--primary-low);
  box-sizing: border-box;
  position: relative;
  border-radius: 4px;

  .date-picker,
  .fields {
    border: 0;
  }

  .d-date-time-input {
    margin-left: auto;
    flex: 1 1 auto;
  }

  .d-time-input {
    .select-kit.combo-box {
      .select-kit-header {
        border: none;
      }
    }
  }

  .d-date-input + .d-time-input {
    margin-left: 1px;
  }

  .d-time-input + .d-date-input {
    margin-right: 1px;
  }
}
