// --------------------------------------------------
// Navigation menus
// --------------------------------------------------

// Base
// --------------------------------------------------

%nav {
  margin-left: 0;
  list-style: none;
  li a {
    display: block;
    text-decoration: none;
  }
  --nav-space: 0;
}


// Pill tabs
// --------------------------------------------------

.nav-tabs:not(.scroll){
  @extend %nav;
  @extend .clearfix;
  display: flex;
  border-bottom: 1px solid $N200;

  > li{

    float: left;
    margin-bottom: -1px;
    margin-right: 2px;
    > a{
      padding: 10px 16px;
      display: block;
      border: 1px solid transparent;
      border-top-left-radius: .25rem;
      border-top-right-radius: .25rem;
      color: var(--primary);
      &.active{
          border-color:$N200 $N200 #fff;
      }
      .d-icon{
        color: $N800;
      }
      &.d-icon{
        color: $N800;
      }
    }
  }
  > a{
    float: left;
    margin-bottom: -1px;
    margin-right: 2px;
    &.active{
      &  > svg{
        border-color:$N200 $N200 #fff;
      }
    }
    > svg{
      padding: 10px 16px;
      display: block;
      border: 1px solid transparent;
      border-top-left-radius: .25rem;
      border-top-right-radius: .25rem;
      color: var(--primary);
      &.d-icon{
        color: $N800;
      }
    }
  }
}

.nav-tabs{
  &.scroll{
    margin:0;
    @extend %nav;
    &::-webkit-scrollbar{
      display: none;
    }
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    &:after{
      display: block;
      content:"";
      width: 100%;
      margin-top: auto;
      border-top: 1px solid $N200;
    }
    > li{
      float: left;
      > a{
        display:flex;
        
        .spacer{
          padding: 0 1px;
          border-bottom: 1px solid $N200; 
        }
        span{
          padding: 10px 16px;
          display: block;
          border: 1px solid transparent;
          border-bottom-color: $N200;
          border-top-left-radius: .25rem;
          border-top-right-radius: .25rem;
          color: var(--primary);
         
        }
        &.active{
          span{
            border-color:$N200 $N200 #fff;
          }
        }
      }
    }
  }
}
// Pill nav
// --------------------------------------------------
.nav-pills {
  @extend %nav;
  @extend .clearfix;

  > li {
    float: left;
    margin-right: 5px !important;

    > a {
      border-radius: 4px;
      border: none;
      padding: 6px 12px;
      color: var(--primary);
      font-size: $font-up-1;
      line-height: $line-height-small;
      box-sizing: border-box;
      min-height: 30px;
      display: flex;
      align-items: center;
      transition: background 0.15s;
      border: 1px solid transparent;

      .d-icon {
        margin-right: 5px;
      }

      &:hover {
        border-color: $N800;
        color: var(--primary);
        // color: var(--quaternary);
        // background-color: var(--quaternary-low);
      }
    }

    a.active {
      color: var(--secondary);
      background-color: $N800;

      .d-icon {
        opacity: 1;
      }
    }
  }
}

// Stacked nav
// --------------------------------------------------

.nav-stacked {
  @extend %nav;
  padding: 0;
  overflow: hidden;
  background: var(--primary-low);

  li {
    border-bottom: 1px solid var(--primary-low);
    position: relative;

    &:last-of-type {
      border-bottom: 0;
    }

    &.indent {
      padding-left: 15px;
    }
  }

  a {
    margin: 0;
    padding: 13px;
    font-size: $font-up-1;
    line-height: $line-height-small;
    cursor: pointer;
    color: var(--primary);

    &.active {
      color: var(--secondary);
      background-color: var(--quaternary);

      &::after {
        left: 90%;
        top: 33%;
        content: " ";
        position: absolute;
        border: 8px solid transparent;
        border-left-color: var(--secondary);
      }
    }
  }

  .count {
    font-size: $font-down-1;
  }

  .glyph {
    font-size: $font-down-1;
    width: 1.25em;
    text-align: center;
    margin-right: 0.25em;
    line-height: $line-height-large;
  }
}
