.select-kit {
  &.combo-box {
    .select-kit-body {
      border-radius: 4px;
      box-shadow: shadow("dropdown");
    }

    .select-kit-row {
      margin: 0;
      border-radius: 0;
      min-height: 1px;

      &.no-content {
        font-weight: normal;
      }
    }

    .select-kit-filter {
      .filter-input,
      .filter-input:focus,
      .filter-input:active {
        flex: 1;
      }

      .filter-icon {
        margin-left: 0.25em;
      }
    }

    .select-kit-header {
      background: var(--secondary);
      border-radius: 4px;
      border: 1px solid var(--primary-low);
      padding: 0 0.25em 0 0.5em;
      font-weight: 500;
      font-size: $font-0;
      &.category-drop-header{
        padding: 0;
      }

      &.is-focused {
        border: 1px solid var(--tertiary);
        box-shadow: shadow("focus");
      }
    }

    .select-kit-collection {
      display: flex;
      flex-direction: column;
      padding: 0;
      min-width: 100px;

      .collection-header {
        a {
          white-space: nowrap;
          color: var(--primary);
          line-height: $line-height-medium;
          font-weight: bold;
          display: block;
          padding: 0.75em;
          color: var(--tertiary);

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &.is-disabled {
      .select-kit-header {
        background: var(--primary-low);
        border-color: var(--primary-low-mid);
        color: var(--primary-medium);
        .d-icon {
          color: var(--primary-medium);
        }
      }
    }

    &.is-highlighted {
      .select-kit-header {
        border: 1px solid var(--tertiary);
        box-shadow: shadow("focus");
      }
    }

    &.is-expanded {
      .select-kit-wrapper {
        display: block;
        border: 1px solid var(--tertiary);
        box-shadow: shadow("focus");
      }
    }

    &.is-expanded.is-above {
      .select-kit-header {
        border-radius: 0 0 3px 3px;
      }

      .select-kit-body {
        border-radius: 3px 3px 0 0;
      }
    }

    &.tag-drop,
    &.group-dropdown {
      min-width: auto;
    }

    &.tag-drop {
      color: var(--primary-high);
    }

    &.group-dropdown {
      .select-kit-row {
        font-weight: bold;
      }
    }

    &.is-expanded .select-kit-wrapper,
    .select-kit-wrapper {
      display: none;
    }
  }
}
