.select-kit {
  &.multi-select {
    border-radius: 4px;
    width: 300px;
    background: var(--secondary);
    border-radius: 0;

    .select-kit-row {
      margin: 5px;
      min-height: 1px;
      padding: 5px;
      border-radius: 0;
    }

    .select-kit-filter {
      border: 0;
      flex: 1 0 0px;
      margin: 1px;
    }

    .multi-select-header {
      background: var(--secondary);
      border: 1px solid var(--primary-medium);

      &.is-focused {
        box-shadow: shadow("focus");
        border-radius: 0;
      }
    }

    &.is-disabled {
      .multi-select-header {
        background: var(--primary-low);
        border-color: var(--primary-low-mid);
        color: var(--primary-medium);
        .d-icon {
          color: var(--primary-medium);
        }
      }
    }

    &.is-expanded {
      .select-kit-wrapper {
        display: block;
        border: 1px solid var(--tertiary);
        box-shadow: shadow("focus");
        border-radius: 0;
      }

      .multi-select-header {
        border-radius: 0;
        box-shadow: none;
        outline: none;
      }

      .select-kit-body {
        border-radius: 0;
      }
    }

    .choices {
      margin: 0;
      padding: 0 0 2px 0;
      box-sizing: border-box;
      display: block;
      width: 100%;

      .choice {
        display: inline-flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: space-between;
        margin: 2px 0 0px 3px;
        padding: 0;
        float: left;
        height: 30px;

        &.input-wrapper {
          min-width: 120px;
        }
      }

      .filter {
        white-space: nowrap;
        min-width: 50px;
        padding: 0;
        outline: none;
        flex: 1;
        display: flex;

        .filter-input,
        .filter-input:focus {
          border: none;
          background: none;
          display: inline-block;
          width: 100%;
          outline: none;
          min-width: auto;
          padding: 0;
          margin: 0;
          outline: 0;
          border: 0;
          box-shadow: none;
          border-radius: 0;
          min-height: unset; // overrides input defaults
        }
      }

      .selected-color {
        .selected-color-wrapper {
          display: flex;
          flex: 1 0 0px;
          flex-direction: column;
        }

        .color-preview {
          height: 5px;
          margin: 0 2px 2px 0px;
          display: flex;
          width: 100%;
        }
      }

      .selected-category {
        .body {
          display: flex;
          align-items: center;
        }
        .badge-wrapper {
          &.bullet {
            margin-right: 2.5px;
          }

          padding: 2px 4px;
          line-height: $line-height-medium;
          display: flex;
          flex: 1 0 0px;
          align-items: center;
        }
      }

      .selected-name {
        background: var(--primary-low);
        padding: 0.25em;
        flex: 1;
        align-items: center;
        display: flex;
        justify-content: space-between;

        .d-icon {
          color: var(--primary-low-mid);
          vertical-align: middle;

          &:last-child {
            margin-left: 0.5em;
          }
        }
        &:hover .d-icon:last-child {
          color: var(--danger);
        }

        &.is-highlighted {
          box-shadow: 0 0 2px var(--danger), 0 1px 0 rgba(0, 0, 0, 0.05);
        }
      }
    }
  }
}
