.select-kit.single-select {
  .select-kit-filter {
    display: flex;

    &.is-expanded {
      padding: 0.25em 0.5em;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-top: 1px solid var(--primary-low);
      border-bottom: 1px solid var(--primary-low);
    }
  }

  &.is-expanded {
    .select-kit-header {
      box-shadow: 0 0 6px 0 var(--tertiary);
    }
  }

  &.is-disabled {
    .select-kit-header {
      opacity: 0.5;
    }
  }
}
