// standard color transformations, use these if possible, and add any new dark-light-diffs here
// any variables defined here can be added in theme color schemes
// all variables should have the !default flag
$P100: #FAECFD;
$P200: #E8BBF1;
$P300: #D68AE6;
$P400: #C358DA;
$P500: #B127CE;
$P600: #A41DC0;
$P700: #9714B2;
$P800: #8A0AA4;
$P900: #7D0096;

$B100: #EBEDFF;
$B200: #BEC8F4;
$B300: #91A4E8;
$B400: #647FDD;
$B500: #375AD1;
$B600: #2B4DBD;
$B700: #1F3FAA;
$B800: #133296;
$B900: #072482;

$Y100: #FFF4DE;
$Y200: #FFE6B1;
$Y300: #FFD985;
$Y400: #FFCB58;
$Y500: #FFBD2B;
$Y600: #EDAD20;
$Y700: #DB9D16;
$Y800: #C88C0B;
$Y900: #B67C00;

$R100: #FFE2E6;
$R200: #FEB4BD;
$R300: #FC8694;
$R400: #FB586B;
$R500: #F92A42;
$R600: #ED2037;
$R700: #E1152D;
$R800: #D40B22;
$R900: #C80017;

$G100: #D8ECDD;
$G200: #A2DFB0;
$G300: #6CD283;
$G400: #36C455;
$G500: #00B728;
$G600: #00A725;
$G700: #019621;
$G800: #01861E;
$G900: #01751A;

$T100: #DCF2F4;
$T200: #A6E1E7;
$T300: #70D0D9;
$T400: #39BFCC;
$T500: #03AEBE;
$T600: #02A2B1;
$T700: #0295A3;
$T800: #018996;
$T900: #007C88;

$N100: #FAFAFB;
$N200: #DEDFE2;
$N300: #C3C3C9;
$N400: #A7A8AF;
$N500: #8C8D96;
$N600: #70717D;
$N700: #545664;
$N800: #393A4A;
$N900: #1D1F31;
$NO: #ffffff;
$N1: #000000;



$colors: () !default;

$colors: map-merge(
  (
  'P100': $P100,
  'P200': $P200,
  'P300': $P300,
  'P400': $P400,
  'P500': $P500,
  'P600': $P600,
  'P700': $P700,
  'P800': $P800,
  'P900': $P900,

  'B100': $B100,
  'B200': $B200,
  'B300': $B300,
  'B400': $B400,
  'B500': $B500,
  'B660': $B600,
  'B700': $B700,
  'B800': $B800,
  'B900': $B900,

  'Y100': $Y100,
  'Y200': $Y200,
  'Y300': $Y300,
  'Y500': $Y500,
  'Y600': $Y600,
  'Y700': $Y700,
  'Y800': $Y800,
  'Y900': $Y900,
  
  'R100': $R100,
  'R200': $R200,
  'R300': $R300,
  'R400': $R400,
  'R500': $R500,
  'R600': $R600,
  'R700': $R700,
  'R800': $R800,
  'R900': $R900,  

  'G100': $G100,
  'G200': $G200,
  'G300': $G300,
  'G400': $G400,
  'G500': $G500,
  'G600': $G600,
  'G700': $G700,
  'G800': $G800,
  'G900': $G900,

  'T100': $T100,
  'T200': $T200,
  'T300': $T300,
  'T400': $T400,
  'T500': $T500,
  'T600': $T600,
  'T700': $T700,
  'T800': $T800,
  'T900': $T900,

  'N100': $N100,
  'N200': $N200,
  'N300': $N300,
  'N400': $N400,
  'N500': $N500,
  'N600': $N600,
  'N700': $N700,
  'N800': $N800,
  'N900': $N900,
  'NO': $NO,
  'N1': $N1,
  ),
  $colors
);

$primary: $N900;
$secondary: $NO ;
$tertiary: $B500;
$quaternary: $B500;
$header_background: #ffffff;
$header_primary: $N900;
$highlight: #ffff4d ;
$danger: $R600;
$success: #009900;
$love: #fa6c8d;


//primary
$primary-very-low: $N100;
$primary-low: $N200;
$primary-low-mid: $N300;
$primary-medium: $N400;
$primary-high: $N500;
$primary-very-high: $N600;

//header_primary
$header_primary-very-low: $N100;
$header_primary-low: $N200;
$header_primary-low-mid: $N300;
$header_primary-medium: $N400;
$header_primary-high: $N500;
$header_primary-very-high: $N600;


//secondary
$secondary-low: $N700;
$secondary-medium: $N400;
$secondary-high: $N300;
$secondary-very-high: $NO;

//tertiary
$tertiary-very-low: $B100;
$tertiary-low: $B200;
$tertiary-medium: $B300;
$tertiary-high: $B400;
$tertiary-hover: $B600;
$tertiary-active: $B700;

//quaternary
$quaternary-low: $N200;

//highlight
$highlight-low: $N100;
$highlight-medium: $N200;
$highlight-high: dark-light-diff($highlight, $secondary, -50%, -10%) !default;

//danger
$danger-low: $R200;
$danger-low-mid: $R300;
$danger-medium: $R400;
$danger-hover: $R700;
$danger-active: $R800;

//success
$success-low: dark-light-diff($success, $secondary, 80%, -60%) !default;
$success-medium: dark-light-diff($success, $secondary, 50%, -40%) !default;
$success-hover: dark-light-diff($success, $secondary, -20%, -20%) !default;

//love
$love-low: dark-light-diff($love, $secondary, 85%, -60%) !default;

//wiki
$wiki: green !default;

//blended variants
$blend-primary-secondary-5: blend-primary-secondary(5%) !default;

$primary-med-or-secondary-med: dark-light-choose(
  $primary-medium,
  $secondary-medium
) !default;

$primary-med-or-secondary-high: dark-light-choose(
  $primary-medium,
  $secondary-high
) !default;

$primary-high-or-secondary-low: dark-light-choose(
  $primary-high,
  $secondary-low
) !default;

$primary-low-mid-or-secondary-high: dark-light-choose(
  $primary-low-mid,
  $secondary-high
) !default;

$primary-low-mid-or-secondary-low: dark-light-choose(
  $primary-low-mid,
  $secondary-low
) !default;

$primary-or-primary-low-mid: dark-light-choose(
  $primary,
  $primary-low-mid
) !default;

$highlight-low-or-medium: dark-light-choose(
  $highlight-low,
  $highlight-medium
) !default;

$tertiary-low-or-tertiary-high: dark-light-choose(
  $tertiary-low,
  $tertiary-high
) !default;

$tertiary-med-or-tertiary: dark-light-choose(
  $tertiary-medium,
  $tertiary
) !default;

$secondary-or-primary: dark-light-choose($secondary, $primary) !default;

$tertiary-or-white: dark-light-choose($tertiary, unquote("#fff")) !default;
$facebook-or-white: dark-light-choose($facebook, unquote("#fff")) !default;
$twitter-or-white: dark-light-choose($twitter, unquote("#fff")) !default;

// code highlighting
$hljs-comment: dark-light-choose(unquote("#998"), unquote("#bba")) !default;
$hljs-number: dark-light-choose(unquote("#099"), unquote("#aff")) !default;
$hljs-string: dark-light-choose(unquote("#d14"), unquote("#f99")) !default;
$hljs-literal: dark-light-choose(unquote("#458"), unquote("#9ae")) !default;
$hljs-tag: dark-light-choose(unquote("#000080"), unquote("#99f")) !default;
$hljs-attribute: dark-light-choose(
  unquote("#008080"),
  unquote("#0ee")
) !default;
$hljs-symbol: dark-light-choose(unquote("#990073"), unquote("#fbe")) !default;
$hljs-bg: dark-light-choose(unquote("#f8f8f8"), unquote("#333")) !default;


@each $key, $color in $colors{
	.#{$key}-brg{
		background-color:$color !important;
	} 
	.#{$key}-clr{
		color: $color !important;
	}
}
