// --------------------------------------------------
// Generic helper classes
// --------------------------------------------------

// Floats
// --------------------------------------------------

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

// Element visibility
// --------------------------------------------------
.d-flex{
  display: flex;
  &.row{
    flex-direction: row;
  }
}

.show {
  display: block;
}

.hide,
.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// Affix
// --------------------------------------------------

.affix {
  position: fixed;
}

// Contain floats
// --------------------------------------------------

.clearfix {
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}

// Overflow
// --------------------------------------------------

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Clickable elements
// --------------------------------------------------

.clickable {
  cursor: pointer;
}


.font-bold{
  font-weight: 700;
}

.dash{
  margin: 0 12px;
}

.d-flex{
  display: flex;
  // gap:20px;
}

.flex-column{
  flex-direction: column;

}
.justify-content-center{
  justify-content: center;
}
.align-items-center{ 
  align-items: center;
}
.align-content-center{
  align-content: center;
}

$space:4px; 
$value:0;

 @while $value < 10 {
 	$newvalue:$value * $space;

 	.m-#{$value}{margin: $newvalue !important;}
 	.ml-#{$value}{margin-left: $newvalue !important;}
 	.mr-#{$value}{margin-right:$newvalue !important;}	
 	.mt-#{$value}{margin-top: $newvalue !important;}
 	.mb-#{$value}{margin-bottom: $newvalue !important;}
 	.my-#{$value}{margin-bottom: $newvalue !important; margin-top: $newvalue !important;}
 	.mx-#{$value}{margin-right: $newvalue !important; margin-left: $newvalue !important;}

 	.p-#{$value}{padding: $newvalue !important;}
 	.pl-#{$value}{padding-left: $newvalue !important;}
 	.pr-#{$value}{padding-right:$newvalue !important;}	
 	.pt-#{$value}{padding-top: $newvalue !important;}
 	.pb-#{$value}{padding-bottom: $newvalue !important;}
 	.py-#{$value}{padding-bottom: $newvalue !important; padding-top: $newvalue !important;}
 	.px-#{$value}{padding-right: $newvalue !important; padding-left: $newvalue !important;}

 	$value: $value + 1;
 }
  .m-auto{margin: auto !important}
 	.ml-auto{margin-left: auto !important;}
 	.mr-auto{margin-right:auto !important;}	
 	.mt-auto{margin-top: auto !important;}
 	.mb-auto{margin-bottom: auto !important;}
 	.my-auto{margin-bottom: auto !important; margin-top: auto !important;}
 	.mx-auto{margin-right: auto !important; margin-left: auto !important;}