// shared styles for user and group cards
.nav-tabs:not(.scroll){
  > li{
    > a{
      &:hover{
       
        border-color:$N200 $N200 #fff;
      }
    }
  }
  > a{
    &:hover{
      &  > svg{
        border-color:$N200 $N200 #fff;
      }
    } 
  }
}
.nav-tabs{
  &.scroll{
    > li{
      > a{
        &:hover{
          span{
            border-color:$N200 $N200 #fff;
          }
        }
      }
    }    
  }
}



.user-card,
.group-card {
  position: absolute;
  z-index: z("usercard");
  &.fixed {
    position: fixed;
    z-index: z("header") + 1;
  }
  &.docked-card {
    z-index: z("header") + 1;
  }
  // avatar - names - controls
  .first-row {
    .names {
      flex: 1 1 auto;
    }
    .usercard-controls {
      button {
        min-width: 150px;
      }
    }
  }
  h1 {
    .d-icon {
      font-size: $font-down-1;
    }
  }
  h2 {
    font-size: $font-up-1;
  }
  h3 {
    font-size: $font-0;
  }
}

// styles for user cards only
.user-card {
  // badges
  .badge-section {
    .user-badge {
      display: block;
      max-width: 185px;
      margin: 0 0.5em 0 0;
    }
    .more-user-badges {
      max-width: 125px;
    }
  }
}
